<!DOCTYPE html>
{% load static  %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> 
    {% block title %} 
        TechJet 
    {% endblock %}
</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="{% static '../../static/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '../../static/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="../../static/assets/img/logo.png" alt=""> -->
        <h1>TechJet</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          
          {% if cat_menu %}
          <li class="dropdown"><a href=""><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
            {% for item in cat_menu%}
              <li><a href="{% url 'category' item|slugify %}">{{item | title }}</a></li>
            {% endfor %}
            </ul>
          </li>
          {% else %}
          <li><a href="{% url 'category-list' %}">Categories</a></li>
          {% endif %}


          {% if user.is_authenticated %}
            <li><a href="{% url 'add_post' %}">Add Post</a></li>
            <li><a href="{% url 'add_category' %}">Add Category</a></li>
          {% else %}
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>

          {% endif %}

        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ms-auto">
          
            <li class="dropdown"><a href=""><span>{{ user.first_name }} {{ user.last_name }} </span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                {% if user.profile.id %}
                 <li><a href="{% url 'show_profile_page' user.profile.id %}">Show Profile Page</a></li>
                 <li><a href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile Page</a></li>
                {% else %}
                <li><a href="{% url 'create_profile_page' %}">Create Profile Page</a></li>
                {% endif %}
                <li><a href="{% url 'edit_profile' %}">Edit Settings</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>

        {% endif %}

        </ul>
      </nav><!-- .navbar -->

     
      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->
    
    {% block content %}
        
    {% endblock %}


  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-6">
            <h3 class="footer-heading">About TechJet</h3>
            <p>TechJet is where tomorrow is realized. It is the crucial supplier of information and ideas that make sense of a world in constant information. TechJet communique illuminates how technology is changing every aspect of our lives - from culture to business, science to design. The breakthroughs and improvements that we discover cause new approaches of thinking, new connections and new industries.</p>
            
          </div>
          
     

          <div class="col-lg-6">
            <h3 class="footer-heading">Recent Posts</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
              {% for post in few_post %}
              <li>
                <a href="{% url 'article-detail' post.pk %}" class="d-flex align-items-center">
                  {% if post.header_image %}
                  <img src="{{ post.header_image.url }}" alt="" class="img-fluid me-3">
                  {% endif %}
                  <div>
                    <div class="post-meta d-block"><span class="date">{{ post.category | title}}</span> <span class="mx-1">&bullet;</span> <span>{{ post.post_date }}</span></div>
                    <span>{{post.title}}</span>
                  </div>
                </a>
              </li>
              {% endfor %}

            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>TechJet</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
              Designed by <a href="">codeEden</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>