{% extends 'base.html' %}

{% block title %} 
Change Password | TechJet
{% endblock %}


{% block content %}
<br>
    <br>
    <br>
    <br>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h1>Change Password </h1>
                        <div class="form-group">
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-secondary">Change Password</button>
                                <ul>
                                    <li> password can’t be too similar to your other personal information.</li> 
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>password can’t be a commonly used password.</li> 
                                    <li> password can’t be entirely numeric.</li>
                                </ul>
                            </form>
    
    
                        </div>
                        
                    </div>
                </div>
            </div>
        </article>

{% endblock %}