{% extends 'base.html' %}

{% block title %} 
Edit Profile | Edenblog
{% endblock %}


{% block content %}
<br>
    <br>
    <br>
    <br>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if user.is_authenticated %}
                            {% if user.id == profile.user.id %}
                                <h1>Edit Profile</h1>
                                <div class="form-group">
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        {{ form.as_p }}
                                        <button class="btn btn-secondary">Update Profile Page</button>
                                    </form>
                                </div>
                            {% else %}
                                <p>You are not the Correct user to Edit This</p>
                            {% endif %}        
                        {% else %}
                        <p>You're not allowed here! (and you know it...)</p>
    
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>

{% endblock %}